/* BREAKPOINTS */

@mixin for-phone-only {
  @media (max-width: 340px) { @content; }
}

/* COLORS */

$white: #FEFEFE;
$tule: #0f0f0f60;
$darkBlue: #0547C7;

/* ONLY IN HOTEL PAGE */

#hotel-page {
  .menu {
    background: $darkBlue;
  }
}

/* CONTAINER */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $tule;
  padding: 2.0rem 0;
  color: $white;
}

/* lOGO + NAME */

.app-name {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 4rem;
}

.logo {
  width: 3.0rem;
}

.site-name {
  font-weight: 700;
  font-size: 2.4rem;
  margin-left: 1.0rem;

  @include for-phone-only {
    display: none;
  } 
}

/* MENU LIST OPTIONS */

.menu-list {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.menu-item {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 2.4rem;
  cursor: pointer;
  position: relative;
}

/* UNDERLINE DECORATOR*/

.underlinedMenuSelection {
  &:before {
    content: "";
    position: absolute;
    background: $white;
    left: 0;
    bottom: -1.0rem;
    width: 100%;
    height: 0.3rem;
    transition: width .2s ease;
  }
}

