/* COLORS */

$superDarkBlue: #093282;
$blue: #055AFE;
$darkBlue: #0547C7;
$white: #FEFEFE;
$ice: #fefefeb6;
$tuleWhite: #fefefedc;

/* BREAKPOINTS */

@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 431px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 768px) and (max-width: 1024px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


/* CONTAINERS */

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: $white;
  text-align: center;
  padding-top: 2rem;  
}

.not-found-container {
  margin: auto;
  padding: 2rem;
}

/* TEXTS */

span {
  outline: none;
}

.title-page,
.help-message {
  padding: 1rem;
  font-size: 2.4rem;

  @include for-phone-only {
    font-size: 1.8rem;
  }
}

.title-page {
  font-weight: 700;
  color: $superDarkBlue;
}

.error-number {
  font-size: 12rem;
  font-weight: 700;
  color: $blue;

  @include for-phone-only {
    font-size: 8rem;
  }
}

.help-message {
  font-weight: 700;
  color: $superDarkBlue;
}

.back-to-homepage {
  font-size: 2.4rem;
  font-weight: 700;
  color: $blue;
  cursor: pointer;

  @include for-phone-only {
    font-size: 1.8rem;
  }
}

/* IMAGE */

.error-image {
  width: 45rem;
  margin:  0 auto 0 auto;

  @include for-phone-only {
    width: 28rem;
    margin: auto;
  }
}