/* COLORS */

$white: #FEFEFE;
$pink: #E6207E;
$lightPink: #E6359E;
$lightGreenApple: #BECB2D;
$lightGrey: #656565;
$extraLightGrey: #757575;

.section {
  margin-left: 55px;
}

.search-bar {
  border: none;
  padding: 12px;
  min-width: 600px;
  margin-top: 30px;
  outline: none;
  background: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $lightGrey;

  &::placeholder {
    color: $extraLightGrey;
  }
}

.search-options {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



.search-options-items {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  margin: 5px 20px 0 0;

  &:before {
    content: "";
    position: absolute;
    background: $lightGreenApple;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    transition: width .2s ease;
  }
  
  &:hover:before {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 40px;
  margin-top: 29px;
  border-radius: 0 4px 4px 0;
  border: none;
  background: $pink;
  color: $white;
  outline: none;

  &:hover {
    cursor: pointer;
    background: $lightPink;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-place-button {
  text-align: center;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 10.5px;
  margin-top: 30px;
  outline: none;
  background: $white;
}