<section class="section">
  <ul class="search-options">
    <li class="search-options-items">Hotéis</li>
    <li class="search-options-items">Pacotes</li>
    <li class="search-options-items">Atividades</li>
  </ul>

  <form class="search-form" id="search-form">
    <button type="text" class="list-place-button"><img class="icon-search" src="../assets/icons/search.png" /></button>
    <input id="input-location" placeholder="Vai pra onde?" class="search-bar">
    <button type="submit" class="button">Pesquisar</button>
  </form>
</section>