<div id="topo" class="container"> 
  <div class="page-content">
    <header>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item"><img class="logo" src="../../assets/images/touch-icon-57x57.png"></li>
          <li class="menu-item site-name">hurb</li>
        </ul>
      </nav>
    </header>

    <main class="search-content">
      <h1 class="page-title">
        Os melhores hotéis, pacotes e experiências estão no Hurb.
      </h1>

      <div class="search-form">
        <input 
        (keyup)="getLocation($event)"
        (keyup.enter)="getHotels()"
        class="search-input" 
        placeholder="Vai pra onde?"
        #campoInput
        >
    
        <button class="button" (click)="getHotels()">Buscar</button>
      </div>
    </main>
  </div>

  <ul class="hotel-cards">
    <li class="hotel-item" *ngFor="let hotel of hotels">
      <div class="hotel-view">
        <img class="hotel-photo" src="{{ hotel.image }}" alt="{{ hotel.name }}" >
      </div>
      <div class="hotel-information">
        <div class="header-information">
          <p class="hotel-location">{{ hotel.address.city }}, {{ hotel.address.state }}</p>
          <p class="hotel-tags" *ngIf=" hotel.tags == '' ? false : true">
            {{ hotel.tags }}
            <img class="icon-tag" src="../../assets/icons/fire.png" />
          </p>
        </div>
        <p class="hotel-name">{{ hotel.name }}</p>
        <p class="hotel-rating">
          <img *ngFor="let star of showStars(hotel.stars)" class="star-image" src="../../assets/icons/star.png">
        </p>
        <ul class="hotel-amenities">
          <li class="amenities-item" *ngFor="let amenity of showAmenities(hotel.featuredItem.amenities)">
            <p class="amenity-title" *ngIf=" hotel.featuredItem.amenities == '' ? false : true">
              {{ amenity }}
              <img class="icon-tag" src="../../assets/icons/check.png" />
            </p>
          </li>
        </ul>
        <div class="footer-information">
          <p class="hotel-free-cancelation" *ngIf=" hotel.tags == '' ? false : true">
            {{ hotel.hu_free_cancellation === true ? 'Cancelamento Grátis' : ''}}
            <img class="icon-tag" src="../../assets/icons/information.png" />
          </p>
          <div class="hotel-price-information">
            <p>Diárias a partir de <span class="old-price">{{ hotel.price.old_price > hotel.price.amountPerDay ? hotel.price.old_price : '' }}</span></p>
            <p><span class="new-price">{{ hotel.price.amountPerDay.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span> + Taxas</p>
            <button class="button" id="hotel-button">Ver Hotel</button>
          </div>
        </div>
      </div>
    </li>
    <ul class="buttons-page" *ngIf="pagination">
      <li><button class="button-page" (click)="getHotels(1)" *ngIf="pagination.previousPage">Primeira Página</button></li>
      <li><button class="button-page" (click)="getHotels(currentPage - 1)" *ngIf="pagination.previousPage">Página Anterior</button></li>
      <li><button class="button-page" (click)="getHotels(currentPage + 1)" *ngIf="pagination.nextPage">Próxima Página</button></li>
      <li><button class="button-page" (click)="getHotels(pagination.count)" *ngIf="pagination.nextPage">Última Página</button></li>
      <li><a href="#topo" class="button-page">Voltar Ao Topo</a></li>
    </ul>
  </ul>

 </div>