<div class="container">
  <div class="page-content">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item logo"><img class="logo-icon" src="../assets/images/touch-icon-57x57.png" />
          <p class="site-name">hurb</p>
        </li>
        <li class="menu-item">Destinos</li>
        <li class="menu-item">Hotéis</li>
        <li class="menu-item">Pacotes</li>
        <li class="menu-item">Atividades</li>
        <li class="menu-item">Resorts</li>
        <li  class="menu-item">Disney</li>
        <li  class="menu-item">Promoções</li>
      </ul>
    </nav>

    <section class="section">
      <ul class="search-options">
        <li class="search-options-items">Hotéis</li>
        <li class="search-options-items">Pacotes</li>
        <li class="search-options-items">Atividades</li>
      </ul>

      <form class="search-form">
        <button type="text" class="list-place-button"><img class="icon-search" src="../assets/icons/search.png" /></button>
        <input placeholder="Vai pra onde?" class="search-bar">

          <button class="search-date">
            <img class="icon" src="../assets/icons/calendar.png" />
            Entrada
          </button>
          <button class="search-date">
            <img class="icon" src="../assets/icons/calendar.png" />
            Saída
          </button>

          <button class="search-guests">
            <img class="icon" src="../assets/icons/user.png" />
            1 Quarto, 2 Hóspedes
          </button>

        <button type="submit" class="button">Pesquisar</button>
      </form>
    </section>
  </div>

    <ul class="hotels-cards">
      <li class="hotel-item">
        <div class="hotel-view">
          <img class="hotel-photo" src="../assets/images/armacao-dos-buzios.jpg" />
          <div class="hotel-discount">-20%</div>
        </div>
        <div class="hotel-information">
          <p class="hotel-location">Armação de Búzios, Rj</p>
          <p class="hotel-name">Armação dos Búzios Pousada Design</p>
          <p class="hotel-rating"></p>
          <ul class="hotel-amenities">
            <li class="amenities-item">
              <img />
              <p>Restaurantes</p>
            </li>
            <li class="amenities-item">
              <img />
              <p>Piscina</p>
            </li>
            <li class="amenities-item">
              <img />
              <p>Sauna</p>
            </li>
          </ul>
          <p class="hotel-free-cancelation">
            <img />
            Cancelamento grátis!
            <img />
          </p>
          <p class="hotel-great-location">Excelente localização!</p>
          <div class="hotel-price-information">
            <p>Diárias a partir de <span class="old-price">R$ 416</span></p>
            <p><span class="new-price">R$ 333 </span>+ Taxas</p>
          </div>
        </div>
        <button class="button">Ver Hotel</button>
      </li>
    </ul>
       
    
</div>