<div class="container">
  <div class="page-content">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item"><img src="../assets/images/touch-icon-57x57.png" /></li>
        <li class="menu-item site-name">hurb</li>
        <li class="menu-item">Destinos</li>
        <li class="menu-item">Hotéis</li>
        <li class="menu-item">Pacotes</li>
        <li class="menu-item">Atividades</li>
        <li class="menu-item">Resorts</li>
        <li  class="menu-item">Disney</li>
        <li  class="menu-item">Promoções</li>
      </ul>
    </nav>

    <section class="section">
      <h1 class="message">
        Os melhores hotéis, pacotes e experiências estão no Hurb.
      </h1>
      
      <ul class="search-options">
        <li class="search-options-items">Hotéis</li>
        <li class="search-options-items">Pacotes</li>
        <li class="search-options-items">Atividades</li>
      </ul>

      <form class="search-form">
        <button type="text" class="list-place-button"><img class="icon-search" src="../assets/icons/search.png" /></button>
        <input placeholder="Vai pra onde?" class="search-bar">

          <button class="search-date">
            <img class="icon" src="../assets/icons/calendar.png" />
            Entrada
          </button>
          <button class="search-date">
            <img class="icon" src="../assets/icons/calendar.png" />
            Saída
          </button>

          <button class="search-guests">
            <img class="icon" src="../assets/icons/user.png" />
            1 Quarto, 2 Hóspedes
          </button>

        <button type="submit" class="search-button">Pesquisar</button>
      </form>
    </section>
  </div>

  <ul class="advantages-list">
    <img class="advantages-icon" src="../assets/images/bed.png" />
    <li class="advantages-item">
      <h3 class="advantages-title">Milhares de Hotéis</h3>
      <p class="advantages-text">Mais de 8 mil hotéis no Brasil e 400 mil no mundo, só reservar e aproveitar!</p>
    </li>

    <img class="advantages-icon" src="../assets/images/calendar.png" />
    <li class="advantages-item">
      <h3 class="advantages-title">Cancelamento Grátis</h3>
      <p class="advantages-text">Você pode cancelar sem custo a maioria das reservas até 14 dias após a compra.</p>
    </li>

    <img class="advantages-icon" src="../assets/images/telephone.png" />
    <li class="advantages-item">
      <h3 class="advantages-title">Atendimento 24h</h3>
      <p class="advantages-text">Dúvida ou imprevisto? Você pode enviar a qualquer hora uma mensagem via Chat.</p>
    </li>
  </ul>
  
</div>