<div class="container">
  <div class="page-content">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item"><img src="../assets/images/touch-icon-57x57.png" /></li>
        <li class="menu-item site-name">hurb</li>
        <li class="menu-item">Destinos</li>
        <li class="menu-item">Hotéis</li>
        <li class="menu-item">Pacotes</li>
        <li class="menu-item">Atividades</li>
        <li class="menu-item">Resorts</li>
        <li  class="menu-item">Disney</li>
        <li  class="menu-item">Promoções</li>
      </ul>
    </nav>

    <section class="section">
      <h1 class="message">
        Os melhores hotéis, pacotes e experiências estão no Hurb.
      </h1>
      
      <ul class="search-options">
        <li class="search-options-items">Hotéis</li>
        <li class="search-options-items">Pacotes</li>
        <li class="search-options-items">Atividades</li>
      </ul>

      <form class="search-form">
        <input placeholder="Vai pra onde?" class="search-bar">
        <button type="submit" class="search-button">Pesquisar</button>
      </form>
    </section>
  </div>
</div>