.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/images/fernando-de-noronha.png');
  background-repeat: no-repeat;
  background-size: cover;
}