/* COLORS */

$lightGreenApple: #BECB2D;

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 42px;
}

.menu-item {
  font-weight: 600;
  font-size: 14px;
  margin: 0 15px 0 5px;
  padding: 12px 0 0 5px;

  &:first-of-type {
    margin-right: 2px;
    margin-left: 0;
  }

  &:hover:not(:first-of-type) {
    cursor: pointer;
    color: $lightGreenApple;
  }
}

.site-name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-right: 30px;
}

.logo-icon {
  width: 50px;
}