<ul class="hotels-cards">
  <li class="hotel-item">
    <div class="hotel-view">
      <img class="hotel-photo" src="../assets/images/armacao-dos-buzios.jpg" />
      <div class="hotel-discount">-20%</div>
    </div>
    <div class="hotel-information">
      <p class="hotel-location">Armação de Búzios, Rj</p>
      <p class="hotel-name">Armação dos Búzios Pousada Design</p>
      <p class="hotel-rating"></p>
      <ul class="hotel-amenities">
        <li class="amenities-item">
          <img />
          <p>Restaurantes</p>
        </li>
        <li class="amenities-item">
          <img />
          <p>Piscina</p>
        </li>
        <li class="amenities-item">
          <img />
          <p>Sauna</p>
        </li>
      </ul>
      <p class="hotel-free-cancelation">
        <img />
        Cancelamento grátis!
        <img />
      </p>
      <p class="hotel-great-location">Excelente localização!</p>
      <div class="hotel-price-information">
        <p>Diárias a partir de <span class="old-price">R$ 416</span></p>
        <p><span class="new-price">R$ 333 </span>+ Taxas</p>
      </div>
      <button class="button">Ver Hotel</button>
    </div>
  </li>
</ul>