@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

/* RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    color: #f9f3f3;
  }
}

/* COLORS */

$white: #FEFEFE;
$blue: #143A7C;
$red: #F13845;
$pink: #E6207E;
$lightPink: #E6359E;
$purple: #A900D4;
$lightGreenApple: #BECB2D;
$greenApple: #C8FC07;
$yellow: #F9C036;
$greenMint: #015F32;
$greenLemon: #4CAF50;
$aqua: #00FFA0;
$orange: #FF6D00;
$darkGrey: #040418;
$grey: #333333;
$lightGrey: #656565;
$extraLightGrey: #757575;
$black: #000000;