@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

/* RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    color: #f9f3f3;
  }
}

/* COLORS */

$white: #FEFEFE;
$blue: #143A7C;
$pink: #E6207E;
$lightPink: #E6359E;
$purple: #A900D4;
$lightGreenApple: #BECB2D;
$greenApple: #C8FC07;
$yellow: #F9C036;
$greenMint: #015F32;
$greenLemon: #4CAF50;
$aqua: #00FFA0;
$orange: #FF6D00;
$darkGrey: #040418;
$grey: #333333;
$lightGrey: #656565;
$extraLightGrey: #757575;
$black: #000000;
$red: #F13845;


/* CONTAINERS */

.container {
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  background: $blue;
  color: $white;
  padding: 0 200px 12px 0;
}

/* LISTS */

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 225px;
}

.search-options {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin: 0 15px 0 5px;
  padding: 12px 0 0 5px;

  &:first-of-type {
    margin-right: 2px;
    margin-left: 0;
  }

  &:hover:not(:first-of-type) {
    cursor: pointer;
    color: $lightGreenApple;
  }
}

.search-options-items {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 20px 0 0;

  &:before {
    content: "";
    position: absolute;
    background: $lightGreenApple;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    transition: width .2s ease;
  }
  
  &:hover:before {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.site-name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-right: 30px;
}

/* INPUTS */

.search-bar {
  border: none;
  padding: 18px;
  min-width: 400px;
  margin-top: 30px;
  outline: none;
  background: $white;
  color: $grey;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: $extraLightGrey;
  }
}

.section {
  margin: auto;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 40px;
  margin-top: 29px;
  border-radius: 0 4px 4px 0;
  border: none;
  background: $pink;
  color: $white;
  outline: none;

  &:hover {
    cursor: pointer;
    background: $lightPink;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-place-button {
  text-align: center;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 15px;
  margin-top: 30px;
  outline: none;
  background: $white;
}

.search-date {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border: none;
  padding: 12px;
  margin-top: 30px;
  outline: none;
  background: $white;
  color: $extraLightGrey;
}

.icon {
  margin:  5px 10px;
  width: 15px;
}

.search-guests {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border: none;
  padding: 12px 25px;
  margin-top: 30px;
  outline: none;
  background: $white;
  color: $extraLightGrey;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  width: 50px;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  
  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  &:hover::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.hotel-view {
  display: flex;
}

.hotel-information {
  display: flex;
  flex-direction: column;
}

.hotel-photo {
  width: 250px;
  height: 200px;
}
.hotel-discount {
  margin: 5px 0 0 -240px;
  padding: 8px;
  width: 48px;
  height: 32px;
  background: $orange;
  color: $white;
  font-weight: 600;
  font-size: 12px;
}
.hotel-location {
  font-weight: 700;
  font-size: 10px;
  color: $grey;
}
.hotel-name {
  font-weight: 500;
  font-size: 18px;
  color: $extraLightGrey;
}

.hotel-amenities {
  display: flex;
  flex-direction: row;
}

.amenities-item {
  font-weight: 500;
  font-size: 10px;
  color: $extraLightGrey;
}

.hotel-free-cancelation {
  font-weight: 700;
  font-size: 10px;
  color: $greenLemon;
}

.hotel-great-location {
  font-weight: 700;
  font-size: 10px;
  color: $red;
}

.hotel-price-information {
  font-weight: 500;
  font-size: 12px;
  color: $extraLightGrey;
}

.old-price {
  color: $black;
  text-decoration-line: line-through;
}

.new-price {
  font-weight: 700;
  font-size: 24px;
  color: $orange;
}