/* COLORS */

$blue: #055AFE;
$darkBlue: #0547C7;
$white: #FEFEFE;
$ice: #fefefeb6;
$tuleWhite: #fefefedc;

/* BREAKPOINTS */

@mixin for-phone-only {
  @media (min-width: 320px) and (max-width: 431px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 768px) and (max-width: 1024px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* CONTAINERS */

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: $white;
}

.search-content {
  margin: 4.0rem 0 0 4.0rem;
  display: flex;
  flex-direction: column;
  position: relative;

  @include for-phone-only {
    margin-left: 1rem;
  }
}

/* TEXTS */

.page-title {
  font-size: 3.6rem;
  max-width: 60rem;
  padding-right: 1rem;
  
  @include for-tablet-portrait-up {
    font-size: 4rem;
  }

  @include for-phone-only {
    font-size: 2.8rem;
    padding: 0 5rem 0 1.5rem;
  }
}

.background-place {
  border: 0.2rem dotted $ice;
  outline: none;
  padding: 0.8rem 1.6rem;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  margin: 20rem 2.4rem 0 5.0rem;
  font-weight: 700;
  cursor: pointer;
  color: $ice;
  width: fit-content;
  font-size: 1.2rem;

  @include for-tablet-portrait-up {
    font-size: 2rem;
    padding: 1.5rem 3rem;
  }

  @include for-phone-only {
    margin: 3rem auto;
    max-width: 25rem;
  }

  &:hover {
    color: $white;
    border-color: $white;
  }
}

/* FORMS */

.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 2.0rem;
}

.header-form {
  display: flex;
  width: 100%;
  border: none;
  background: transparent;
}

.search-input {
  display: flex;
  border: 0.2rem solid $white;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 2.0rem 4.0rem 1.0rem 1.0rem;
  width: 100%;
  margin: 1.5rem 4.0rem 4.0rem 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  background: transparent;
  color: $white;
  outline: none;

  @include for-tablet-portrait-up {
    font-size: 3rem;
  }

  @include for-phone-only {
    font-size: 1.9rem;
  }

  &::placeholder {
    color: $tuleWhite;
  }
}

/* BUTTONS */

.button {
  @include for-tablet-portrait-up {
    width: 35rem;
    font-size: 2.4rem;
  }

  @include for-phone-only {
    width: 25rem;
    margin: 0;
  }
}

.button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 0.4rem;
  padding: 1.6rem 3.6rem;
  width: 25rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: $white;
  outline: none;
  background: $blue;
  margin: auto;
  cursor: pointer;

  &:hover {
    background: $darkBlue;
  }
}

/* FONT AWESOME ICONS */

.fa-mouse-pointer {
  margin-left: 1.5rem;
}

.fa-search {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

.fa-map-marker-alt {
  color: $white;
  font-size: 2.0rem;
  text-align: center;
  border: none;
  border-radius: 0.4rem 0 0 0.4rem;
  margin-top: 1.5rem;
  padding: 2.2rem 2.0rem 2.2rem 2.0rem;
  height: fit-content;
  background: transparent;

  @include for-tablet-portrait-up {
    font-size: 3rem;
  }
}