/* COLORS */

$blue: #055AFE;
$darkBlue: #0547C7;
$white: #FEFEFE;
$red: #F13845;
$pink: #E6207E;
$lightPink: #E6359E;
$green: #4CAF50;
$orange: #FF6D00;
$grey: #333333;
$lightGrey: #656565;
$extraLightGrey: #757575;
$black: #000000;

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/images/fernando-de-noronha.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.container-header {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

#hotel-page {
  background: $white;
  display: none;
}

.page-content {
  color: $white;
}

.search-content {
  margin: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
}

.page-title {
  font-size: 36px;
  width: 600px;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.header-form {
  border: 2px solid $white;
  padding: 20px 40px;
  border-radius: 4px 0 0 4px;
  margin: 15px 40px 40px 0;
}

.fa-map-marker-alt {
  font-size: 25px;
  margin-right: 25px;
}

.search-input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  min-width: 600px;
  font-size: 24px;
  font-weight: 700;
  background: transparent;
  color: $white;
  outline: none;

  &::placeholder {
    color: $white;
  }
}

.button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 4px;
  padding: 16px 36px;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  outline: none;
  background: $blue;
  margin: auto;
  cursor: pointer;

  &:hover {
    background: $darkBlue;
  }
}

#hotel-button {
  width: fit-content;
  font-size: 12px;
}

.fa-search {
  font-size: 15px;
  margin-left: 25px;
}

.background-place {
  margin: 200px 0 0 40px;
  font-weight: 700;
  margin-right: 24px;
  cursor: pointer;
  color: #fefefed5;

  &:hover {
    color: #D67B69;
  }
}

/*  HOTEL LIST & HOTEL CARD */

.buttons-page{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 25px 0;
}

.button-page {
  font-family: 'Montserrat', sans-serif;
  margin-right: 25px;
  border: none;
  border-radius: 4px;
  padding: 16px 36px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  background: $lightPink;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $pink;
  }
}

.hotel-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 50px;
  margin: 50px 0 0 25px;
  width: fit-content;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hotel-item {
  background: $white;
  margin: 25px 0;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  width: 600px;
}

.hotel-information {
  padding: 15px;
}

.hotel-photo {
  width: 600px;
  height: 300px;
  border-radius: 15px 15px 0 0;
}

.hotel-location {
  color: #717171;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.hotel-name {
  color: #302E2E;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  width: 350px;
}

.hotel-amenities {
  display: flex;
}

.amenities-item {
  margin: 15px 0 0 25px;
}

.amenity-title {
  color: #302E2E;
  font-size: 12px;
  font-weight: 700;
}

.hotel-free-cancelation {
  padding: 8px 16px;
  background: #1DB8AD;
  color: $white;
  font-weight: 700;
  font-size: 10px;
  width: fit-content;
  border-radius: 5px;
}

.hotel-tags {
  padding: 8px 16px;
  background: $red;
  color: $white;
  font-weight: 700;
  font-size: 10px;
  width: fit-content;
  border-radius: 5px;
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 25px;
}

.hotel-price-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #717171;
  font-size: 12px;
  font-weight: 700;
  margin: 25px 25px 0 0;
}

.footer-information {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.new-price {
  color: #302E2E;
  font-size: 48px;
  font-weight: 700;
}

.currency {
  color: #302E2E;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 15px 0 0;
}

.header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
}

.fa-star {
  color: #F9ED81;
  letter-spacing: 10px;
  font-size: 24px;

  &:last-of-type {
    padding-right: 25px;
  }
}

.fa-fire-alt,
.fa-check,
.fa-info-circle {
  margin-left: 10px;
}

.fa-check {
  font-size: 12px;
}


.fa-map-marker {
  font-size: 12px;
  color: #717171;
  margin-left: 25px;
}

.fa-angle-left,
.fa-angle-double-left {
  font-size: 12px;
  color: $white;
  margin-right: 10px;
}

.fa-angle-right,
.fa-angle-double-right {
  font-size: 12px;
  color: $white;
  margin-left: 10px;
}