<div class="container" id="home-page">
  <app-header (sendTypeSearch)="onSendTypeSearch($event)"></app-header>
  <main class="search-content">
    <h1 class="page-title">
      Os melhores hotéis, pacotes e experiências estão no Hurb.
    </h1>

    <div class="search-form">
      <section class="header-form ">
        <i class="fas fa-map-marker-alt"></i>
        <input 
        id="input-home"
        (change)="getLocation($event)"
        (keyup.enter)="getAPI()"
        class="search-input" 
        placeholder="Vai pra onde?"
        #campoInput
        >
      </section>
  
      <button class="button" 
      (click)="getAPI()"
      >
        Pesquisar
        <i class="fas fa-search"></i>
      </button>
    </div>
      <button class="background-place" value="{{ this.name }}" (click)="sendLocationToInput()" id="place-name">
        Que tal conhecer {{ this.name }}?
        <i class="fas fa-mouse-pointer"></i>
      </button>
  </main>
</div>